body.rada-body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(45deg, rgb(199, 27, 170), rgb(10, 147, 201));
    height: 98vh;
}

canvas.rada-canvas {
    background-image: url("../content/c_500_background_pl.png");
    position: absolute;
    width: auto;
    height: auto;
    left: 2%;
}

a.mapy-button {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button.rada-button {
    text-align: center;
    position: absolute;
    bottom: 3%;
    display: flex;
    right: 47.65%;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(32, 32, 32);
    color: white;
    border: none;
    border-radius: 5px;
    transition-duration: 0.5s;
    margin: 0;
}

button.rada-button:hover {
    scale: 1.4;
}

body.wybor-mapy {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(45deg, rgb(199, 27, 170), rgb(10, 147, 201));
    height: 98vh;
}

a.wybor-rada {
    font-size: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

button.rada {
    position: absolute;
    top: 5%;
    left: 2%;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(32, 32, 32);
    border: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}
button.rada:hover {
    scale: 1.15;
}
body.piramidy {
    font-family: 'Segoe UI', 'sans-serif';
    text-align: center;
}

#board {
    /*background-image: url("../../content/rada_pieciuset_tlo.png");*/
    background-color: aquamarine;
}

.wzmianki {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 15rem;
    position: absolute;
    bottom: 3%;
    right: 7%;
}

.sponsorowane {
    color: #fff;
    font-family: 'Segoe Ui', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.sponsorowane > p * {
    color: #fff;
    font-family: 'Segoe Ui', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    transition-duration: .4s;

    &:hover {
        transform: scale(1.05);
    }
}

.sponsorowane > img {
    max-width: 200px;
}

.sponsorowane > p {
    min-width: 210%;
}